<!DOCTYPE html>
<html>
<head>
  <title>CotobuBeta</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
	<!--<div class="topbar">
            <div class="topbar-inner">
              <div class="container-fluid">-->
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
		            <span class="icon-bar"></span> 
		            <span class="icon-bar"></span> 
		            <span class="icon-bar"></span> 
		          </a> 
		          <a class="brand" href="/">Cotobu <i>beta</i></a>

          <div class="nav-collapse"> 
            <ul class="nav"> 
              <li class="active"> 
                <a href="/places">Places</a> 
              </li> 
              <li class="divider-vertical"></li> 
              <li class=""> 
                <a href="/login">Sign in</a> 
              </li>               
            </ul> 
          </div> 	

		     <!--<%= tabs %>-->
			</div>
		</div>
	</div>


<%= yield %>

</body>
</html>
